/* Сброс стилей для элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
}
/* Сброс стандартных отступов */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr {
  margin: 0;
  padding: 0;
}

/* Сброс стандартных списков */
ul,
ol {
  list-style: none;
}

/* Сброс стандартного текста */
a,
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

/* Сброс стандартных стилей для ссылок */
a {
  text-decoration: none;
}

/* Сброс стандартных стилей для изображений */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Подключием шрифты */
@font-face {
  font-family: "Andantino script"; 
  src: url("/fonts/andantinoscript.ttf") format("truetype"),
  url("/fonts/andantino-script.woff") format("woff"),
  url("/fonts/andantino-script.woff2") format("woff2"), 
} 
@font-face {
  font-family: "Noto Serif TC";
  src: url("/fonts/NotoSerifTC-Light.otf") format("otf"); 
} 
/* Подключием шрифты */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: white;
  margin: 0;
  min-width: 320px;
}

html {
  scroll-behavior: smooth;
  /* max-width: fit-content; */
}

.header {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  transform: translateY(0);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 4px 5px rgba(129, 162, 165, 0.644);
  min-width: 320px;
}

.menu_header {
  transition: font 0.3s;
  transition: 0.5s;
}

.menu_header:hover {
  font-size: 25px;
  color: #78dde9;
}

.header.fixed {
  position: fixed;
  justify-content: center;
  top: -100px;
  transform: translateY(100%);
  z-index: 40;
  border-radius: 0px 0px 25px 25px;
  transition: transform .3s ease-in-out;
}

.wrapper {
  display: flex;
  /* flex: 1; */
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: white;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 60px;
}
.event__date {
  background-color: rgba(18, 107, 142, 0.5);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #39647B;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #000;
  margin: 10px;
}
#timer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

.scroll__to__top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
.scroll__to__top.visible {
  opacity: 1;
}



/* УДАЛИТЬ ИНЛАЙН СТИЛЬ */
/* .section_footer .a{ */
/* display: flex;
  align-items: center;
  justify-content: center; */
/* width: 104px;
  height: 104px; */
/* } */
/* .footer_img{ */
/* display: flex;
align-items: center;
justify-content: center; */
/* position: absolute; */

/* } */
.first_section {
  width: 100%;
}

.first_section ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 140px; */
  list-style: none;
}

.first_section ul img {
  padding: 10px;
}

.first_section ul li {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_section ul li a {
  color: #000000;
  font-size: inherit;
  text-transform: uppercase;
  text-decoration: none
}

.first_section {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
  /* font-variation-settings:"wdth" 500; */
  position: absolute;
  /* width: 100%; */
  height: 100%;
  top: 0;
  transform: translateY(0);
  z-index: 20;
  transition: transform .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second_section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.second_section_container {
  position: absolute;
  display: flex;
  width: 45vw;
  height: 35vw;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  margin-top: 6vw;
  border-radius: 33px;
}

.t1,
.t2,
.t3,
.t4,
.t5 {
  opacity: 100%;
  color: rgba(255, 255, 255, 0);
}

.t1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-variation-settings: "wdth" 100;
  font-size: 3.5vw;
  color: white;
  margin-top: 5%;
}

.t2,
.t4 {
  font-family: "Andantino script", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 11vw;
  color: white;
}
.t4 {
  margin-top: -6%;
}
.t2 {
  margin-top: 3%;
}

.t3 {
  font-family: "Andantino script", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 5vw;
  position: absolute;
  color: white;
  margin-top: 5%;
}

/* .t4{
/* margin-top: -1.5%; */
/* } */
.t5 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 3vw;
  font-weight: 300;
  color: white;
  line-height: 90%;
  margin-top: 5%;
}

.t5>span {
  font-size: 8vw;
}

.invitation_body_container {
  position: relative;
  /* top:793px; */
  width: 100%;
  text-align: center;
  color: #000000;
}

.internal_images {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  min-width: 320px;
  object-fit: cover;
  min-height: 320px;
}

.invitation_container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  /* padding: 0 auto; */
}

.section_body {
  display: flex;
  width: 40%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 37%;
}

.text_invitation {
  background-color: transparent;
  font-family: "Noto Serif TC", serif;
  font-size: 2vw;
  font-weight: 300;
  line-height: 3vw;
  text-align: center;
  align-self: flex-start;
  letter-spacing: 0.3vw;
  width: 100%;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.text_invitation>span {
  background-color: transparent;
  font-family: "Noto Serif TC", serif;
  font-size: 3vw;
  font-weight: 300;
  line-height: 4vw;
  letter-spacing: 0.1vw;
}

.text_welcome, .text_invitation_waiting {
  font-family: "Andantino script", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 4vw;
  color: black;
  text-align: center;
  line-height: 3vw;
}

.text_invitation_waiting {
  font-size: 4vw;
}

.a {
  position: relative;
  margin: 0 auto;
}

.b {
  position: relative;
  margin: 0 auto;
}

.program {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  align-items: center;
  width: 100%;
  padding-top: 10%;

}

.program_item_container {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 300;
}

.program_time_and_daily {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 24px;
  color: #1D4E68;
}

.program_place_name {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 18px;
  color: #6D6D6D;
}

.program_place_address {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 15px;
  color: #A4A4A4;
  text-decoration: underline;
}

.item_1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 36px;
  color: #1D4E68;
  /* margin-top: 5%; */
}

.item_2 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 27px;
  color: #000000;
  margin-top: 2%;
}

.item_3 {
  margin-top: 5%;
  flex-direction: row;
  justify-content: space-between;
}

.item_3 .t_1 {
  /* margin-left: 25%; */
  text-align: right;
  width: 30%;
}

.item_3 .t_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  gap: 20px;
  /* margin-left: -60%; */
}

.item_3 .t_3 {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
  text-align: left;
}

.ceremony {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 100px;
  margin-bottom: 20px;
}

.wedding {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 100px;
  margin-bottom: 20px;
}

.wedding_item_1,
.ceremony_item_1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: #1D4E68;
}

.ceremony_item_3,
.wedding_item_3 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #39647B;
}

.ceremony_item_4,
.wedding_item_4 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #2B2B2B;
  ;
}
.yandexMap>iframe{
  height : 465px;
}
.rings_image1{
  display: flex;
}
.rings_image2{
  display: none;
}
.glass_image1{
  display: flex;
}
.glass_image2{
  display: none;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .header {
    z-index: 3;
    justify-content: flex-start;
    height: 50px;
    border-radius: 0px;
  }
  .program {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 16%;
  }
  .header::before{
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    content: "";
    box-shadow: 0px 4px 5px rgba(129, 162, 165, 0.644);
  }

  .header.fixed {
    position: fixed;
    justify-content: flex-start;
    top: -50px;
    transform: translateY(100%);
    z-index: 40;
    border-radius: 0px;
  }

  .menu_header:hover {
    font-size: 4vw;
  }
  .burger{
    z-index: 4;
    display: block;
    position: relative;
    width: 28px;
    height: 20px;
    margin-left: 20px;
    /* background: white; */
  }
  .burger span{
    display: block;
    width: 100%;
    height: 4px;
    background: black;
    position: absolute;
    left: 0;
    top: 9px;
    transition: 0.3s;
    border-radius: 2px;
  }
  .burger.open span{
    /* display: none; */
    transform: scale(0);
  }
  .burger::before{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    background: black;
    position: absolute;
    top: 2px;
    transition: 0.3s;
    border-radius: 2px;
  }
  .burger.open::before{
    transform: rotate(45deg);
    top: 9px;
    transition: 0.3s;
  }
  .burger.open::after{
    transform: rotate(-45deg);
    top: 9px;
    transition: 0.3s;
  }
  .burger::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    background: black;
    position: absolute;
    top: 16px;
    transition: 0.3s;
    border-radius: 2px;
  }

  .first_section.open{
    z-index: 1;
    display: block;
    background-color: #f4f4f4;
    height: auto;
    margin-top: 50px;
    transition: 0.5s;
    padding: 30px;
    box-shadow: 0px 4px 5px rgba(129, 162, 165, 0.644);
  }

  .first_section {
    z-index: 1;
    display: block;
    background-color: white;
    height: fit-content;
    margin-top: -100%;
    transition: 0.7s;
  }

  .first_section ul {
    /* margin-top: 50px; */
    width: 100%;
    max-width: 70%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: space-around;
    /* gap: 140px; */
    list-style: none;
    margin: 0 auto;
    /* text-align: left; */
  }
  .first_section img {
    margin-right: 20px;
  }

  .first_section ul li {
    font-size: 16px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;
    display: flex;
    align-items: left;
    justify-content: start;
    padding: 10px;
    /* background-color: white; */
  }

  .first_section ul li a {
    color: #000000;
    font-size: inherit;
    text-transform: uppercase;
    text-decoration: none
  }
  .item_1 {
    font-size: 6vw;
  }
  .item_2 {
    font-size: 4.4vw;
  }
  .item_3 {
    margin-top: 7%;
    align-items: center;
    flex-direction: column;
  }
  .item_3 .t_1 {
    text-align: center;
    order: 1
  }
  .line{
    display: none;
  }
  .item_3 .t_2 {
    order: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    gap: 20px;
    /* margin-left: -60%; */
  }
  
  .item_3 .t_3 {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
    text-align: center;
    align-items: center;
  }
  .program_time_and_daily {
    font-size: 4.8vw;
    width: 70%;
  }
  .program_place_name {
    font-size: 4.5vw;
  }
  .program_place_address {
    font-size: 3vw;
  }
  .ceremony {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 0px;
    padding-top: 50px;
    margin-bottom: 20px;
  }
  .wedding_item_1,
  .ceremony_item_1 {
    font-size: 5.5vw;
    font-weight: 500;
  }
  .ceremony_item_3,
  .wedding_item_3 {
    font-size: 5vw;
  }
  .ceremony_item_4,
  .wedding_item_4 {
  font-size: 3.2vw;
  }
  .wedding {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 0px;
    padding-top: 50px;
    margin-bottom: 20px;
  }
  .yandexMap>iframe{
    height : 213px;
  }
  .rings_image1{
    display: none;
  }
  .rings_image2{
    display: flex;
  }
  .glass_image1{
    display: none;
  }
  .glass_image2{
    display: flex;
  }
  .ceremony_item_2{
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .wedding_item_2{
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .text_invitation {
    margin-top: 8vw;
    margin-bottom: 8vw;
    font-size: 4vw;
    line-height: 5vw;
  }
  .section_body {
    width: 64%;
  }
  .text_welcome, .text_invitation_waiting {
    font-size: 7vw;
    line-height: 4vw;
  }
  .text_invitation_waiting {
    font-size: 6vw;
  }
  .text_invitation>span {
    background-color: transparent;
    font-family: "Noto Serif TC", serif;
    font-size: 5vw;
    font-weight: bold;
    line-height: 6vw;
    letter-spacing: 0.1vw;
  }
  .second_section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

@media (max-width: 500px) {

  .wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }

  .first_section ul li {
    font-size: 14px;
  }

  .second_section_container {
    position: absolute;
    display: flex;
    width: calc(var(--index)* 21);
    height: calc(var(--index)* 17);
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  footer {
    height: 0;
  }
  .scroll__to__top.visible {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    opacity: 0.8;
  }
}

@media (max-width: 360px) {
  .header {
    border-radius: 0px;
  }

  .header.fixed {
    border-radius: 0px;
  }

  .first_section ul li {
    font-size: 10px;
  }
}
.new__styles {
  padding: 0;
}
